.MainPage{
    background-size: 100% 100%;
    background-image: url(/public/Imagens/backgroundImage.png);
    width: 100vw;
    height: 440px;
    -webkit-box-shadow: inset 140px 17px 162px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 140px 17px 162px 0px rgba(0,0,0,0.45);
    box-shadow: inset 140px 17px 162px 0px rgba(0,0,0,0.45);
    background-attachment: fixed;
}